@import '~bulma/bulma.sass';


* {
  font-family: Courier, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	90% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

//! NAVBAR

//* side bar
site-wrapper {
  display: flex;
  margin-top: 8px;
  //* for footer
  flex: 1 !important;
}

menu {
  width: 15%; 
  margin-right: 10px;
.menu-item {
    margin: 10px 0;
    font-family: Courier, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;
    color: black;
    a {
      color: black;
      font-weight: 300;
      font-size: 18px;
    }
    a:hover {
      font-weight: 800;
    }
  }
  .menu-item.active {
    a {
      font-weight: 800;
    }
  }
}

main {
  width: 80%;
}

//! FAVOURITES
.favourites-button {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 50px;
  margin-top: 25px;
  outline:none;
}
.favourites-button:hover {box-shadow: 0 5px yellow;
  transform: translateY(4px);}

.favourites-button:active {
  background-color: black;
  box-shadow: 0 5px  pink;
  transform: translateY(4px);
}

.favourites-button-text {
  background-color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 20px;
}

.favourite-buttons-container {
  display: flex;
  justify-content: center;
}

.favourites-medium-image {
  max-width: 200px;
  margin-right: 20px;
}

.favourites-mediums-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.favourite-title {
  font-weight: bold;
  font-size: 13px;
}

.favourite-duration {
  font-weight: bold;
  font-style: italic;
}

//! FOOTER

#root {
  display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
  flex: 0;
  background-color: white !important;
}

* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  margin: auto;
}

main {
  height: 100vh;
}

//! MEDIUM SHOW
.medium-show-flex {
  display: flex;
  flex-direction: column;
}
.medium-show-row {
  display: flex;
  margin-bottom: 10px;
}
.medium-show-image-div {
  flex: 1;
}
.medium-show-image {
  min-width: 200px;
  padding-top: 75px;
    margin-right: 30px;
}
.medium-show-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 2.5;
}

.medium-show-medium-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

div {
  .medium-show-medium-genre {
    font-style: italic;
  }
}


.medium-show-medium-duration {
  font-style: italic;
}
.medium-show-medium-creator {
  font-size: large;
}

.medium-show-medium-info {
    padding-top: 20px !important;
    padding-bottom: 50px;
  }



.add-to-favourites-button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 16px;
  outline: none;
  font-size: 13px;
}
.add-to-favourites-button:hover {
  box-shadow: 0 5px#5c5c5c;
  transform: translateY(4px);
}

.post-review-button {
  border-radius: 30px;
}
.post-review-button:hover {
  box-shadow: 0 5px#5c5c5c;
  transform: translateY(4px);
}


.review-delete-button {
  margin-left: 30px;
  border-radius: 30px;
}
.review-delete-button:hover {
  box-shadow: 0 5px#5c5c5c;
  transform: translateY(4px);
}

.medium-show-medium-price {
  font-weight: bold;
}
.medium-show-medium-date {
  font-style: italic;
}
.medium-show-medium-year {
  font-style: italic
}
.medium-show-medium-art-gallery-location {
  font-weight: bold;
}
.medium-show-medium-art-gallery {
  font-weight: bold;
}

// ***********************************************  HOME PAGE  ************************************************** //

.home-tile-fam {
  font-size: 80px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
}

.home-wrapper {
	margin: 0 auto;
	display: flex;
	background-color: #FFC0CB;
  justify-content: center;
  align-items: baseline;
	flex-direction: row-reverse;

		a {
				.home-image-film {
          flex: 1;
          width: 900px;
          margin-top: 30px;
          box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);

				}
				.home-image-art {
          margin-left: 45px;
          flex: 1.5;
          box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
        }
        .home-image-music {
          flex: 1;
          margin-left: 50px;
          box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
        }
		}
}

.home-medium-main-title-film {
	background-color: yellow;
	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
	font-size: 17px;
	letter-spacing: 3px;
  transform: translate(-48px, -38px);
	padding: 3px;
}
.home-medium-main-title-art {
	background-color: yellow;
	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
	font-size: 17px;
	letter-spacing: 3px;
	transform: translate(-70px, -38px);
	padding: 3px;
}
.home-medium-main-title-music {
	background-color: yellow;
	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
	font-size: 17px;
	letter-spacing: 3px;
	transform: translate(-11px, -38px);
	padding: 3px;
}

.home-page-p {
	font-size: 14px;
  letter-spacing: 2px;
}

.post-title {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-wrapper {
  margin: 0 auto;
  display: flex;
  padding-bottom: 50px;
  width: 750px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}



// ***********************************************  MEDIUM INDEX  ************************************************** //

select.select-dropdown {
  height: 28px;
	letter-spacing: 1px;

}

.select-wrapper {
	padding-top: 25px;
	padding-left: 80%;
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
}

.film-index-wrapper {
	display: flex;
	justify-content: flex-start;
	padding-left: 75px;
}
	
		.index-page-h2 {
			
			font-size: 30px;
			letter-spacing: 3px;
      font-weight: bold;
      display: flex;
      justify-content: center;			
		}


.medium-wrapper {

		.index-h2 {
			
			padding-left: 40px;
		}

		.index-border {
			border: 1px solid black;

		}
		.index-page-h1 {
			
			transform: translate(450px, 280px);
			letter-spacing: 2px;

		}


		.art-creator-title {
			
			transform : translate(650px, 280px);
      letter-spacing: 2px;
      width: 400px;
		}

		a {
				.medium-image-index-music {
			width: 350px;
			height: 350px;
			margin: 45px;
		}
				.medium-image-index {
      margin-left: 80px;
			width: 350px;
			height: 450px;
			margin: 45px;
		}
				.medium-art-index {
			width: 550px;
			margin: 45px;
		}
	

	}
}
	
	
// ***********************************************  ERROR PAGE  ************************************************** //

.yellow-error {
	color: rgb(255, 192, 203);
	font-size: 21px;

}

// ***********************************************  REGISTER PAGE  ************************************************** //

.register-form{
	max-width: 50%;

}

.register-section {
  height: 700px;
  display: flex;
  justify-content: center;

}

.register-columns {
  height: 700px;
  display: flex;
  justify-content: center;
  width: 900px;
}

.input {
	border: 1px solid black;
	border-radius: 0em	;
}

.button-register {
	border: 1px solid black;
	border-radius: 0em	;

}

//! LOGIN
.login-section-background-image { 
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 1000px;
  margin: 0 auto;
}
