@import '~bulma/bulma.sass';

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	90% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

//! NAVBAR

//* side bar
site-wrapper {
  display: flex;
  margin-top: 8px;
  //* for footer
  flex: 1 !important;
}

menu {
  width: 15%; 
  margin-right: 10px;
.menu-item {
    margin: 10px 0;
    font-family: Courier, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;
    color: black;
    a {
      color: black;
      font-weight: 300;
      font-size: 18px;
    }
    a:hover {
      font-weight: 800;
    }
  }
  .menu-item.active {
    a {
      font-weight: 800;
    }
  }
}

main {
  width: 80%;
}

//! FAVOURITES
.favourites-button {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 50px;
  margin-top: 25px;
  outline:none;
}
.favourites-button:hover {box-shadow: 0 5px yellow;
  transform: translateY(4px);}

.favourites-button:active {
  background-color: black;
  box-shadow: 0 5px  pink;
  transform: translateY(4px);
}

.favourites-button-text {
  background-color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 20px;
}

.favourite-buttons-container {
  display: flex;
  justify-content: center;
}

.favourites-medium-image {
  max-width: 200px;
  margin-right: 20px;
}

.favourites-mediums-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.favourite-title {
  font-weight: bold;
  font-size: 13px;
}

.favourite-duration {
  font-weight: bold;
  font-style: italic;
}

//! FOOTER

#root {
  display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
	position: fixed;
  flex: 0 !important;
  background-color: white !important;
	height: 30px;
	margin-bottom: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

* {
  box-sizing: border-box;
}

body {
  // display:flex;
  justify-content: center;
  margin: auto;
}

main {
  height: 100vh;
}


// ***********************************************  HOME PAGE  ************************************************** //


.home-wrapper {
	margin: 0 auto;
	display: flex;
	// background-color: pink;
	padding-top: 80px;
	// background-color: #F59EC9;
	// background-color: #96FF7A;
	// background-color:#64E872;
	// background-color:#6EFFA6;
	background-color: #FFC0CB;

	max-width: 100%;
	height: 100vh;
	// width: fit-content;
  justify-content: center;
  align-items: baseline;
	flex-direction: row-reverse;
	padding-right: 200px;
	padding-left: 40px;
		a {
				.home-image {
					max-width: 450px;
					max-height: 400px;

				}
				.home-image-art {
					max-width: 470px;
					height: 425px;
				}
		}
}

.home-medium-main-title {
	background-color: yellow;
	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
	font-size: 17px;
	letter-spacing: 3px;
	transform: translate(-121px, -38px);
	padding: 3px;
}

.home-page-p {
	font-size: 14px;
  letter-spacing: 2px;
}

.post-title {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-wrapper {
	margin: 0 auto;
	display: flex;
	height: 250px;
	width: 750px;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}



// ***********************************************  MEDIUM INDEX  ************************************************** //

select.select-dropdown {
  height: 28px;
	letter-spacing: 1px;

}

.select-wrapper {
	padding-top: 25px;
	padding-left: 80%;
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
}

.film-index-wrapper {
	display: flex;
	justify-content: flex-start;
	padding-left: 75px;
}
	
		.index-page-h2 {
			
			font-size: 30px;
			letter-spacing: 3px;
			margin-left: 35px;
			font-weight: bold;
			
			
		}


.medium-wrapper {

	// max-width: 200px;
	// padding: 2px;

		.index-h2 {
			
			padding-left: 40px;
		}

		.index-border {
			border: 1px solid black;

		}
		.index-page-h1 {
			
			transform: translate(450px, 280px);
			letter-spacing: 2px;

		}


		.art-creator-title {
			
			transform : translate(650px, 280px);
			letter-spacing: 2px;
		}

		a {
				.medium-image-index-music {
			width: 350px;
			height: 350px;
			margin: 45px;
		}
				.medium-image-index {
			width: 350px;
			height: 450px;
			margin: 45px;
		}
				.medium-art-index {
			width: 500px;
			height: 450px;
			margin: 45px;
		}
	

	}
}
	
	
// ***********************************************  ERROR PAGE  ************************************************** //

.yellow-error {
	color: rgb(255, 192, 203);
	font-size: 21px;

}

// ***********************************************  REGISTER PAGE  ************************************************** //

form.column {
	max-width: 50%;

}

.section {
	// background-color: #FFC0CB;
	// display: flex;
	// justify-content: center;
	margin-left: 30%;

}

.input {
	border: 1px solid black;
	border-radius: 0em	;
}

.button {
	border: 1px solid black;
	border-radius: 0em	;

}
// .button:hover {
// 	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
// 	// background-color: #FFC0CB;
// }

.button:hover {
	// box-shadow: 0 10px yellow;
	box-shadow: 17px 15px 32px -16px rgb(255, 192, 203);
  transform: translateY(4px);}

// .is-register:hover {
// 	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
// 	// background-color: yellow;
// }


// form {
// 	border: 1px solid black;
// 	// background: $offwhite;
// 	padding: 30px;
// 	transform: scale(0.9);
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// }