@import '~bulma/bulma.sass';

//! NAVBAR

//* side bar
site-wrapper {
  display: flex;
  margin-top: 8px;
  //* for footer
  flex: 1 !important;
}

menu {
  width: 15%; 
  margin-right: 10px;
.menu-item {
    margin: 10px 0;
    font-family: Courier, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;
    color: black;
    a {
      color: black;
      font-weight: 300;
      font-size: 18px;
    }
    a:hover {
      font-weight: 800;
    }
  }
  .menu-item.active {
    a {
      font-weight: 800;
    }
  }
}

main {
  width: 80%;
}

//! FAVOURITES
.favourites-button {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 50px;
  margin-top: 25px;
  outline:none;
}
.favourites-button:hover {box-shadow: 0 5px yellow;
  transform: translateY(4px);}

.favourites-button:active {
  background-color: black;
  box-shadow: 0 5px  pink;
  transform: translateY(4px);
}

.favourites-button-text {
  background-color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 20px;
}

.favourite-buttons-container {
  display: flex;
  justify-content: center;
}

.favourites-medium-image {
  max-width: 200px;
  margin-right: 20px;
}

.favourites-mediums-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.favourite-title {
  font-weight: bold;
  font-size: 13px;
}

.favourite-duration {
  font-weight: bold;
  font-style: italic;
}

//! FOOTER

#root {
  display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
  flex: 0 !important;
  background-color: white !important;
	max-height: 80px;
}

* {
  box-sizing: border-box;
}

body {
  // display:flex;
  justify-content: center;
  margin: auto;
}

main {
  height: 100vh;
}

// ***********************************************  HOME PAGE  ************************************************** //


.home-wrapper {
	margin: 0 auto;
  display: flex;
	height: 100vh;
	width: fit-content;
  justify-content: center;
  align-items: center;
	flex-direction: row;
}

h3 {
	background-color: yellow;
	font-size: 17px;
	letter-spacing: 3px;
	transform: translate(130px, 180px);
	padding: 3px;
	
}

p {
	font-size: 14px;
  letter-spacing: 2px;
}

.post-title {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-wrapper {
	margin: 0 auto;
	display: flex;
	height: 250px;
	width: 750px;
	justify-content: center;
	align-items: center;
}



// ***********************************************  MEDIUM INDEX  ************************************************** //

select.select-dropdown {
  height: 38px;
  font-size: 16px;
  margin-top: 14px;
	width: 10%;
	padding-left: 5px;
	letter-spacing: 1px;

}

.select-wrapper {
	background-color: yellow;
	padding-left: 15px;
}

@media only screen and (min-width: 375px) {
	select.select-dropdown {
		height: 15px;
		font-size: 8px;
		margin-top: 7px;
		width: 30%;
		letter-spacing: 1px;
	
	}
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
}



.index-medium-wrapper {
	margin: 0 auto;
  display: flex;
	height: 50vh;
	// width: fit-content;
  justify-content: center;
  align-items: center;
	flex-direction: row;
}






// @media only screen and (min-width: 375px) {
	
// 	div .home-mediums {

// 		display: flex;
// 		flex-direction: column;
// 		margin-left: 50px;
// 		margin-right: 50px;
// 		align-items: center;

// 		img {
// 			max-width: 314px;
// 			max-height: 314px ;
// 		}


// 	}

	

	

// 	h3 {
// 		background-color: pink;
		
// 	}
	
// }

// @media only screen and (min-width: 470px) {
	
// }

// @media only screen and (min-width: 735px) {

// 	* {
// 		box-sizing: border-box;
// 	}

// 	div .home-mediums {

// 	display: flex;
// 	flex-direction: row;
// 	margin-left: 50px;
// 	margin-right: 50px;
// 	align-items: center;
// 	padding-right: 70px;
// 	line-height: 15px;
// 	background-color: yellow;
		
// 	img {
// 		line-height: 15px;
// 		max-width: 450px;
// 		max-height: 500px ;
// 	}

// 	}

// }
