@import '~bulma/bulma.sass';


* {
  font-family: Courier, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	90% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

//! ALL
main {
  width: 85%;
}

//! NAVBAR

//* side bar
site-wrapper {
  display: flex;
  margin: 8px 20px 0 0;
  //* for footer
  flex: 1 !important;
}

menu {
  width: 15%; 
  margin-right: 10px;
  min-width: 200px;
.menu-item {
    margin: 10px 0;
    font-family: Courier, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;
    color: black;
    a {
      color: black;
      font-weight: 300;
      font-size: 18px;
    }
    a:hover {
      font-weight: 800;
    }
  }
  .menu-item.active {
    a {
      font-weight: 800;
    }
  }
  .burger-icon {
    display: none;
  }
  .burger-image {
    min-width: 30px;
  }
}

//! responsive phone design
@media screen and (max-width: 600px) {
  site-wrapper {
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important ;
  }
  main {
    padding-left: 10px;
    margin-left: 5px;
  }
  menu {
    margin: 0 !important;
    min-width: 0;
    width: auto;
    padding-left: 10px;
    .burger-icon {
      display: block;
    }
  }
  .menu-item a {
    display: none;
  }
  .info-wrapper.index-page-h2 {
    padding-left: 0;
  }  
}

//! open the bruger menu on phone screens
@media screen and (max-width: 600px) {
  menu.active {
    min-width: 150px;
    position: absolute;
    background: white;
    width: 100%;
    border-bottom: 1px solid grey;
    z-index: 1000;
    .menu-item a {
      display: block;
      font-size: 16px;
    }
  }
  
  footer {
    background-color: unset;
    padding: unset;
    .has-text-centered {
    width: 100vw;
    padding: 10px 0;
    }
  }
  
  main {
    padding: 0;
    margin: 0;
    //* styling responsive regsiter page
    .register-section {
      background-size: contain;
      background-repeat: no-repeat;
      min-width: unset;
      width: 100vw;
    }
    .register-columns {
      height: unset;
      width: unset;
    }
    .register-form {
      max-width: unset;
    }
  //* styling responsive login page
  .login-section-background-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: unset; 
    max-width: unset; 
    width: 100vw;
    margin: unset; 
    justify-content: center;
  }
  .container {
    flex-grow: unset; 
    margin: unset; 
    position: unset; 
    width: unset; 
  }
  .columns {
    width: 100vw;
  }
  .field{
    margin: 10px;
  }
  .fam-title-index-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  }
  //* index 
  .fam-title-index-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    h1 {
      display: unset;
      justify-content: unset;
    }
  }
  .select-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-right: 0;
    .select-dropdown {
      border: 1px solid grey;
      padding: 5px;
    }
  }
  .medium-index-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 !important;
  }
  .index-page-h2 {
    font-size: 20px !important;
    margin-top: 20px;
    padding-left: 0px !important;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    display: unset;
  }
  .medium-wrapper {
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-left: 0 !important;
  }
  .medium-info {
    margin: 0 30px 20px 30px;
    padding: 0;
  }
  .medium-img {
    margin: unset;
    .medium-image-index {
    width: unset; 
    max-width: 250px;
    margin: 10px 30px 0 30px;
    padding: 0;
    }
  }
  //* home
  .home-page {
    padding-left: 20px;
  }
  //* show
  .medium-show-flex {
    width: 100vw;
  }
  .medium-show-row {
    flex-direction: column;
    padding-left: 10px;
  }
  .medium-show-text {
    .favourite-show-button-wrap {
      text-align: center !important;
    }
  }
  .widget-ratings {
    display: flex !important;
    justify-content: center !important;
  }
  .reviews-p-button-wrap {
    display: flex;
    justify-content: center;
  }
  //* favourites
  .favourites-medium-wrap {
    margin-left: 80px;
  }

}
@media screen and (max-width: 400px) {
  .login-section-background-image {
    height: 70vh;
  }
}

//! FAVOURITES
.favourites-button {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 30px;
  margin-top: 25px;
  outline:none;
}
.favourites-button:hover {box-shadow: 0 5px yellow;
  transform: translateY(4px);}

.favourites-button:active {
  background-color: black;
  box-shadow: 0 5px  pink;
  transform: translateY(4px);
}

.favourites-button-text {
  background-color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 20px;
}

.favourite-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favourites-medium-image {
  max-width: 200px;
  margin-right: 20px;
}

.favourites-medium-wrap {
  display: flex;
  justify-content: center;
}

.favourites-mediums-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.favourite-title {
  font-weight: bold;
  font-size: 13px;
  max-width: 200px;
}

.favourite-duration {
  font-weight: bold;
  font-style: italic;
}

.favourites-item {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//! FOOTER

#root {
  display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
  flex: 0;
  background-color: white !important;
}

* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  margin: auto;
}

main {
  height: 100vh;
}

//! MEDIUM SHOW
.medium-show-flex {
  display: flex;
  flex-direction: column;
}
.medium-show-row {
  display: flex;
  margin-bottom: 10px;
}
.medium-show-image-div {
  flex: 1;
}
.medium-show-image {
  min-width: 200px;
  padding-top: 75px;
    margin-right: 30px;
}
.medium-show-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 2.5;
}

.medium-show-medium-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

div {
  .medium-show-medium-genre {
    font-style: italic;
  }
}


.medium-show-medium-duration {
  font-style: italic;
}
.medium-show-medium-creator {
  font-size: large;
}

.medium-show-medium-info {
    padding-top: 20px !important;
    padding-bottom: 50px;
  }



.add-to-favourites-button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 16px;
  outline: none;
  font-size: 13px;
}
.add-to-favourites-button:hover {
  box-shadow: 0 5px#5c5c5c;
  transform: translateY(4px);
}

.post-review-button {
  border-radius: 30px;
}
.post-review-button:hover {
  box-shadow: 0 5px#5c5c5c;
  transform: translateY(4px);
}


.review-delete-button {
  margin-left: 30px;
  border-radius: 30px;
}
.review-delete-button:hover {
  box-shadow: 0 5px#5c5c5c;
  transform: translateY(4px);
}

.medium-show-medium-price {
  font-weight: bold;
}
.medium-show-medium-date {
  font-style: italic;
}
.medium-show-medium-year {
  font-style: italic
}
.medium-show-medium-art-gallery-location {
  font-weight: bold;
}
.medium-show-medium-art-gallery {
  font-weight: bold;
}

// ***********************************************  HOME PAGE  ************************************************** //

.home-tile-fam {
  font-size: 80px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
}

.home-wrapper {
	margin: 0 auto;
	display: flex;
	background-color: #FFC0CB;
  justify-content: center;
  align-items: baseline;
	flex-direction: row-reverse;
		a {
				.home-image-film {
          flex: 1;
          width: 900px;
          margin-top: 30px;
          box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);

				}
				.home-image-art {
          flex: 1.5;
          box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
        }
        .home-image-music {
          flex: 1;
          box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
        }
        .responsive-home-image {
          min-width: 200px;
          margin-left: 50px;
        }
    }
    .home-item-wrapper {
      justify-content: center;
      align-items: baseline;
      flex-direction: row-reverse;
      display: flex;
    }
}


@media only screen and (max-width: 700px){
  .home-wrapper {
    flex-direction: column-reverse;
  }
  .responsive-home-image {
    max-height: 300px;
    width: auto !important;
  }
}

.home-medium-main-title-film {
	background-color: yellow;
	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
	font-size: 17px;
	letter-spacing: 3px;
  transform: translate(-48px, -38px);
	padding: 3px;
}
.home-medium-main-title-art {
	background-color: yellow;
	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
	font-size: 17px;
	letter-spacing: 3px;
	transform: translate(-70px, -38px);
	padding: 3px;
}
.home-medium-main-title-music {
	background-color: yellow;
	box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
	font-size: 17px;
	letter-spacing: 3px;
	transform: translate(-11px, -38px);
	padding: 3px;
}

.home-page-p {
	font-size: 14px;
  letter-spacing: 2px;
}

.post-title {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-wrapper {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
  font-size: 15px;
}
.text-wrap {
  width: 100%;
    margin: 0 auto;
    max-width: 750px;
}


// ***********************************************  MEDIUM INDEX  ************************************************** //

select.select-dropdown {
  height: 28px;
	letter-spacing: 1px;

}

.select-wrapper {
  text-align: right;
  margin-right: 10%;
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
}

.medium-index-wrapper {
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
	padding-left: 75px;
}
	
		.index-page-h2 {
			margin-bottom: 20px;
			font-size: 30px;
      letter-spacing: 3px;
      padding-left: 110px;
      font-weight: bold;
      display: flex;		
		}


.medium-wrapper {

    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;

		.index-border {
			border: 1px solid black;

		}
		.index-page-h1 {
			letter-spacing: 2px;

    }
    .medium-info {
      order: 2;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 30px;
      padding: 10px;
      .index-page-h1-title {
        font-weight: bold;
      }
      .index-page-h1-duration {
        font-style: italic;
      }
    }
    .medium-img {
      order: 1;
    }


		// .art-creator-title {
			
		// 	transform : translate(650px, 280px);
    //   letter-spacing: 2px;
    //   width: 400px;
		// }

		a {
				.medium-image-index-music {
			width: 350px;
			height: 350px;
			margin: 45px;
		}
				.medium-image-index {
      width: 100%;
      max-width: 250px;
      margin: 20px 30px;
      padding: 10px;
		}
				.medium-art-index {
			width: 550px;
			padding: 20px;
		}
	

	}
}
	
	
// ***********************************************  ERROR PAGE  ************************************************** //

.yellow-error {
	color: rgb(255, 192, 203);
	font-size: 21px;

}

// ***********************************************  REGISTER PAGE  ************************************************** //

.register-form{
	max-width: 50%;

}

.register-section {
  display: flex;
  justify-content: center;
  min-width: 500px;

}

.register-columns {
  height: 700px;
  display: flex;
  justify-content: center;
  width: 900px;
}

.input {
	border: 1px solid black;
	border-radius: 0em	;
}

.button-register {
	border: 1px solid black;
	border-radius: 0em	;

}

//! LOGIN
.login-section-background-image { 
  display: flex;
  flex-direction: column;
  height: 600px;
  max-width: 1000px;
  margin: 0 auto;
}
